<a href="https://colab.research.google.com/github/Shivamgond2022/demo/blob/main/Assignment_3(Q2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q2.    A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import norm

In [ ]:
data = pd.read_csv("/content/LabTAT.csv")
data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  120 non-null    float64
 1   Laboratory 2  120 non-null    float64
 2   Laboratory 3  120 non-null    float64
 3   Laboratory 4  120 non-null    float64
dtypes: float64(4)
memory usage: 3.9 KB

In [ ]:
# Splting into the groups
lab_a = data.iloc[:,0]
lab_b = data.iloc[:,1]
lab_c = data.iloc[:,2]
lab_d = data.iloc[:,3]

In [ ]:
# testing hypothesis on data by using ANOVA 
# The test is applied to samples from two or more groups, possibly with differing sizes.
p_value = stats.f_oneway(lab_a,lab_b,lab_c,lab_d)
print(p_value)

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

# Conclusion
As our p_value is higher than significan value so, we are fail to reject the null hypothesis

 p_value == 2.11
 
 5% significant_value == 0.05